// fonts

//style 1
$font-title: 'Bangers', serif;
$font-main: 'Fira Sans';
$font-text: 'Martel Sans';

// //style 2
// $font-title: 'Frijole', serif;
// $font-main: 'Londrina Shadow';
// $font-text: 'Frank Ruhl Libre';

// //style 3
// $font-title: 'Montserrat', serif;
// $font-main: 'Caveat Brush';
// $font-text: 'Hind Madurai';

// colors

//style 1
$color-bg: #f3f4f5;
$color-secondary: #999;

