// fonts

//style 1
$font-title: 'Bangers';
$font-main: 'Fira Sans';
$font-text: 'Martel Sans';

// //style 2
// $font-title: 'Frijole';
// $font-main: 'Londrina Shadow';
// $font-text: 'Frank Ruhl Libre';

// //style 3
// $font-title: 'Frijole';
// $font-main: 'Londrina Shadow';
// $font-text: 'Frank Ruhl Libre';

// colors
$color-bg: #f3f4f5;
$color-secondary: #999;

