.header {    
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_title {
    font-family: $font-title;
    font-size: 28px;
  }

  &_intruction {
    font-family: $font-main;
    font-size: 18px;
  }
}